@import url('./other-file.css');
/* When clicked on, add a background color and strike out text */
.checked {
  background: rgb(248, 2, 2);
  color: rgb(7, 7, 7);
  /* text-decoration: line-through; */
}

/* Add a "checked" mark when clicked on
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
} */
