@import url('./other-file.css');
body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
    display: block;
}

h1 {
    display: block;
    /* width: 40%; */
    text-align: center;
    margin: 0 auto;
    color: #3399FF;
    text-transform: uppercase;
    font-family: Verdana, sans-serif; 
    font-size: 30pt;
    padding: 30px 0;
}

form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 40%;
}

.toDo-container {
    display: block;
    width: 40%;
    margin: 0 auto;
}

.toDo-input {
        margin: 0;
        width: 300px;
        font-size: 16px;
        line-height: 16px;
        height: 16px;
        padding: 10px;
        border: 1px solid #ddd;
        background: #fff;
        border-radius: 6px;
        font-family: Verdana, sans-serif;
        color: #888;
}

.toDo-list {
    width: 100%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li {
    display: list-item;
    text-align: left;
    width: 60%;
}

.toDo {
    width: 100%;
    display: flex;
    align-content: space-around;
}
.toDo-item {
    max-width: 200px;
    padding: 10px;
    font-family: Verdana, sans-serif; 
    font-size: 12pt;
    list-style-type: none;
}

.update-btn, .trash-btn, .toDo-input-icon  {
    background-color: #3399FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 5px;
    font-size: 13px;
    border-radius: 10%;
}

#clear {
    background-color: #3399FF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 15px auto;
    font-size: 13px;
    border-radius: 10%;
}

button:hover {
    background: #2079b0;
    text-decoration: none;
    cursor: pointer;
}

.checking {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    background-size: 50% 50%;
    margin-right: 10px;
    position: relative;
    top: 7px;
}
